/*
	DIOGENES JUNIOR
	CONTATO@DIOGENESJUNIOR.COM.BR
	
*/

/*---------------------------------
	RESETS
-----------------------------------*/

html,body{
  height: 100%;
}
body{
  overflow-x: hidden;
  background:#F4F5F9;
  font-family: 'Lato', sans-serif;
}
@media(max-width: 540px){
  html,body{
     max-width: 100% !important;
  }
}

/*
.btn{width: 100%;height: auto;}
*/
.btn{
  outline:none !important;
  box-shadow: none !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited{
  background: #4D4F5C !important;
  border-color: #4D4F5C !important;
  border-radius: 8px !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:visited{
  color:#fff !important;
  border-radius: 8px !important;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:visited{
  border-color: #ccc !important;
  border-radius: 8px !important;
}

/*---------------------------------
	IMPORTS E CONSULTAS E MOBILE
	
XS = < 544px
SM = > 544px
MD = > 768px
LG = > 992px
XL = > 1200px

CSS GRID
-----------------------------------*/


.wow {
   visibility: hidden;
}
::selection { background: #757575; color: #fff; } ::-moz-selection { background: #757575; color: #fff; }


.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

img{
  max-width: 100%;
  height: auto;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

section#content .container{
  padding: 20px;
  padding-bottom: 75px;
  background: #fff;
  /*background: url(../images/logo.png) #fff no-repeat;
  background-size: 100px auto;
  background-position-x: 98%;
  background-position-y: 12px;*/
}
@media(max-width: 540px){
  section#content .container{
    background: #fff;
  }
}


section#content thead{
  background: #233C78;
  padding-top: 6px;
  padding-bottom: 6px;
  border:none !important;

}

section#content thead th{
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding: 14px !important;
}

section#content tbody{
  border-top: none !important; 
  color: #4D4F5C;
  font-size: 0.9em;
}
section#contento tbody tr td{
  padding: 14px !important;
}


/*---------------------------------
  SIDEMENU
-----------------------------------*/
.sidemenu{
  position: fixed;
  display: block;
  left: -30%;
  top: 0;
  width: 26%;
  max-width: 300px;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
  overflow-y: scroll;
  background:#fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  z-index: 99999;
  -webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;
}
.sidemenu::-webkit-scrollbar-track {
     background-color: #F4F4F4;
}
.sidemenu::-webkit-scrollbar {
    width: 0px;
    background: #F4F4F4;
}
.sidemenu:-webkit-scrollbar-thumb {
    background: #ccc;
}


@media(max-width: 540px){
  .sidemenu{
    left: -90%;
    width: 80%;
  }
}

.sidemenu.aberto{
  left: 0px;
  -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}

.sidemenu nav ul{
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.sidemenu nav ul li{
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f2f2f2;
}
.sidemenu nav ul li a,
.sidemenu nav ul li a:hover{
  color: #737373;
  text-decoration: none;
  color: #737373;
  font-size: 0.9em;
  font-weight: normal;
}

.sidemenu nav ul li.ativo a{
  color: #233C78;
  font-weight: bold;

}

/*---------------------------------
	HEADER
-----------------------------------*/
header{
  position: relative;
  display:block;
  top:0px;
  left:0px;
  width:100%;
  height:60px;
  background: #e0e0e0;
  z-index: 9999;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12); */
  padding-left:25px;
  padding-right:25px;
  border-bottom: 0px solid #f2f2f2;
}

header.nao-logado{
  opacity: 0;
}
@media(max-width: 540px){
  header{
    padding-left: 0px;
    padding-right: 0px;
  }
}
header .logo{
  padding-top:9px;
}


@media(max-width: 540px){
  header .logo{
    text-align:center;
  }
}

header .logo h1{
  font-family: 'Titillium Web', sans-serif;
  color: #233C78;
  font-weight: bold;
  font-size: 32px;
  padding-left: 20px;
}
@media(max-width: 540px){
  header .logo h1{
    padding-left: 0px;
  }
}

header .logo a.toggle-menu{
  /*
  color: #949494;
  font-size: 20px;
  float: left;
  margin-right: 19px;
  margin-top: 10px;
  margin-left: 4px;
  */
    position: absolute;
    display: block;
    width: 39px;
    height: 39px;
    padding-top: 7px;
    background: #ccc;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 1px;
    left: -13px;
}

header .menu{
  text-align: center;
}

@media(max-width: 540px){
  header .logo a.toggle-menu {
    position: absolute;
    display: block;
    width: 39px;
    height: 39px;
    padding-top: 7px;
    background: #ccc;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 1px;
    left: 21px;
}
  header .menu{
    display: none;
  }
}

header .menu nav ul{
  padding-left:0px;
  margin-left:0px;
  list-style:none;
}

header .menu nav ul li{
  list-style: none;
  display: inline;
  padding-left: 28px;
  padding-right: 28px;
}

header .menu nav ul li a,
header .menu nav ul li a:hover{
    color: #000;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    border-top: 5px solid transparent;
    padding-top: 10px;
    display: inline-block;
}

header .menu nav ul li.ativo a{
  border-top: 5px solid #233C78;
}

header .actions{
  padding-top:10px;
}

@media(max-width: 540px){
  header .actions{
    display:none;
  }
}

header .actions .btn-primary i{
  padding-right: 3.5px;
  font-size: 18px;
}

header .foto-perfil{
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-left: 14px;
  margin-top: -2px;
  float: right;
}

header .foto-perfil a{
  position: relative;
  display: block;
  width:100%;
  height:100%;
  text-decoration:none;
}

header .notificacoes{
  position: relative;
  display: block;
  margin-left: 22px;
  margin-right: 8px;
  font-size: 25px;
  float: right;
  color: #000000;
}


/*---------------------------------
  FOOTER / NAVEGACAO
-----------------------------------*/
footer{
  position: fixed;
  display:none;
  background: #f2f2f2;
  z-index:9999;
  left:0;
  bottom:0;
  height:54px;
  width:100%;
  text-align: center;
  padding-top: 12px;
}

footer a{
  color:#000;
  text-decoration: none !important;
  font-size: 12.5px;
}

/*---------------------------------
  CONTENT
-----------------------------------*/

section#content {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% - 60px);
    /* min-height: 100%; */
    padding-bottom: 0px;
    padding-top: 25px;
    margin-top: 0;
    top: 60px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
section#content::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
section#content::-webkit-scrollbar {
    width: 0px;
    background: #F4F4F4;
}
section#content::-webkit-scrollbar-thumb {
    background: #ccc;
}


section#content.nao-logado{
  height: calc(100% - 60px);
}


section#content .view-principal{
  padding-left: 8px;
  padding-right: 8px;
}


section#content .view-2{
  background: #f2f2f2;
  min-height: 600px;
}


section#content .view-3{
  background: #ccc;
  min-height: 600px;
}

/*---------------------------------
  AVISOS
-----------------------------------*/
.modal-avisos{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 99999;
  background: rgba(000,000,000,0.35);
  -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}

.modal-avisos .aviso{
  position: absolute;
  display: block;
  bottom: auto;
  top:20%;
  height: auto;
  max-height: 92%;
  overflow-y: scroll;
  background: #fff;
  
  left: 50%;
  width: 360px;
  max-width: 95%;
  margin-left: -155px;
  margin-right: unset;

  z-index: 999991;
  padding: 20px;
  -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}
.modal-avisos .aviso::-webkit-scrollbar-track {
          background-color: #F4F4F4;
      }
.modal-avisos .aviso::-webkit-scrollbar {
          width: 0px;
          background: #F4F4F4;
      }
.modal-avisos .aviso::-webkit-scrollbar-thumb {
          background: #ccc;
      }




.modal-avisos .aviso h3{
   color: #000;
   margin-top: 1px;
   margin-bottom: 12px;
   line-height: 1.15em;
   font-size: 20px;
}


.modal-avisos .aviso p{
   color: #292929;
   font-size: 13px;
   line-height: 19px;
   margin-bottom: 6px;
   padding-left: 0px;
}

.modal-avisos .btn-primary{
    height: 42px;
    width: 100%;
    display: block;
}


/*---------------------------------
  CONFIRMAÇÃO
-----------------------------------*/
.modal-confirmacao{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 999999;
  background: rgba(000,000,000,0.35);
  -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}

.modal-confirmacao .confirmacao{
  position: absolute;
  display: block;

  top:20%;
  bottom: auto;
  height: auto;
  max-height: 92%;
  overflow-y: scroll;
  background: #fff;
  
  left: 50%;
  width: 360px;
  max-width: 95%;
  margin-left: -155px;
  margin-right: unset;

  z-index: 999991;
  padding: 20px;
  -webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;transition:all 300ms ease;
}
.modal-confirmacao .confirmacao::-webkit-scrollbar-track {
          background-color: #F4F4F4;
      }
.modal-confirmacao .confirmacao::-webkit-scrollbar {
          width: 1px;
          background: #F4F4F4;
      }
.modal-confirmacao .confirmacao::-webkit-scrollbar-thumb {
          background: #ccc;
      }




.modal-confirmacao .confirmacao h3{
   font-family: 'Muli', sans-serif;
   font-weight: 600;
   color: #000;
   margin-top: 1px;
   margin-bottom: 12px;
   line-height: 1.15em;
   font-size: 20px;
}

.modal-confirmacao .confirmacao .col{
  padding-left: 5px;
  padding-right: 5px;
}

.modal-confirmacao .confirmacao .col .btn-primary{
    height: 42px;
    width: 100%;
    display: block;
}

.modal-confirmacao .confirmacao .col .btn-default{
    height: 42px;
    width: 100%;
    border: 1px solid #ccc;
}


/*---------------------------------
  EMPRT STATES OU O FAMOSO PLACEHOLDER PRE LOAD
-----------------------------------*/

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 61px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.inter-draw{
  background: #FFF;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100px;
}
.inter-right--top{
  background: #FFF;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 100px;
}
.inter-right--bottom{
  background: #FFF;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 100px;
}
.inter-crop{
  background: #FFF;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100px;
}


/*---------------------------------
  INPUT FLUTUANTE
-----------------------------------*/

.input-flutuante-acessibilidade{
    position: fixed;
    display: none;
    left: 0;
    width: 100%;
    height: 72px;
    background: #fff;
    z-index: 9999999;
    bottom: 0px;
    border-top: 1px solid #012169;
    color: #537e87;
    padding-left: 20px;
    padding-top: 3px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
}

.input-flutuante-acessibilidade label{
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 3px;
}


.input-flutuante-acessibilidade .form-control{
    padding-left: 0px;
    padding-top: 0px;
    font-size: 15px;
    color: #000;
    border: none;
    height: auto;
    width: 292px;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    box-shadow: none !important;
    outline: none !important;
}

.input-flutuante-acessibilidade button.btn-default,
.input-flutuante-acessibilidade button.btn-default:hover,
.input-flutuante-acessibilidade button.btn-default:active{
    width: auto !important;
    background: none !important;
    color: #000 !important;
    outline: none !important;
    border: none !important;
    float: right !important;
    margin-top: -38px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 15px !important;
    box-shadow: none !important;
}



/*---------------------------------
  OUTROS ESTILOS
-----------------------------------*/
.view-login{
  padding-top: 12px;
}

.view-login .card{
  padding: 32px;
}

.nao-logado .container{
  background: none !important;
}


.area-formulario{
  background:#fff;
  padding: 30px;
  margin-bottom: 60px;
  /*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);*/
  min-height: 554px;
}


@media(max-width: 540px){
   .area-formulario{
    min-height: 200px;
    padding: 15px;
    padding-top: 15px;
   }
}

.area-formulario h3{
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 22px;
}

.area-formulario label{
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
}

.form-control{
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
}

.area-formulario .btn-primary{
  padding-left: 42px;
  padding-right: 42px;
}


.area-formulario .table{
  font-size: 0.9em;
  font-family: 'Titillium Web', sans-serif;
}

.form{
  display: none;
}



/*---------------------------------
  BUSCA AVULSA
-----------------------------------*/
.busca-avulsa{
  position: relative;
  display: block;
  width: 275px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  margin-top: -9px;
  margin-right: 20px;
}

.busca-avulsa .input-group.mb-3{
    background: #ffff;
    padding: 5px;
    padding-top: 2px;
    /* padding-bottom: 8px; */
    border-radius: 8px;
    border: 1px solid #E2E2E2;
}

.busca-avulsa .form-control{
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: #292929;
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 3px;
    padding-left: 2px;
}
.busca-avulsa .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #292929;
}

.busca-avulsa .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #292929;
}

.busca-avulsa .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #292929;
}

.busca-avulsa .input-group-text{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: #233C78 !important;
    font-size: 19px;
}


@media(min-width: 1024px){
  .no-padding-left-desktop{
    padding-left: 0px;
  }
}


.galeria-imovel{

}

.galeria-imovel .card{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 12px;
  border-radius: 0px;
  background: #f4f4f4;
}


.modal-dialog {
    margin: 4.75rem auto;
}


@media(max-width: 540px){
   
   .modal-dialog {
      max-width: 100%;
      margin: 4.75rem auto;
  }


}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 13px;
}

.preview-minhas-imagens{
   margin-top: 20px;
   margin-bottom: 20px;
}


.caixa-preview-imagem-carregada{
  position: relative;
  display: inline-block;
  width: 32.5%;
  text-align: center;
}

.has-feedback .badge.badge-secondary{
    float: right;
    margin-top: -27px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 11px;
}








/**
*  ------------------------------------------------------------------------------------------------
*
*
*   ABAS DE DIVISÃO DA SESSAO
*
*
*  ------------------------------------------------------------------------------------------------
*/

.page-tabs {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
    padding-top: 22px;
}

.pcss3t {
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        font-size: 0;
        text-align: left;
      }
      .pcss3t > input {
        position: absolute;
        display: none;
      }
      .pcss3t > label {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        cursor: pointer;
        transition: all 0.1s;
        -o-transition: all 0.1s;  
        -ms-transition: all 0.1s; 
        -moz-transition: all 0.1s;  
        -webkit-transition: all 0.1s;
      }
      .pcss3t > label i {
        display: block;
        float: left;
        margin: 0 8px 0 -2px;
        padding: 0;
        border: 0;
        outline: none;
        font-family: FontAwesome;
        font-style: normal;
        font-size: 17px;
      }
      .pcss3t > input:checked + label {
        cursor: default;
      }
      .pcss3t > ul {
        list-style: none;
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        font-size: 13px;
        padding-bottom: 9px;
      }
      .pcss3t > ul > li {
        position: absolute;
        width: 100%;
        overflow: auto;
        
        padding: 0px;
        padding-top: 40px;
        
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        opacity: 0;
        transition: all 0.5s;
        -o-transition: all 0.5s;  
        -ms-transition: all 0.5s; 
        -moz-transition: all 0.5s;  
        -webkit-transition: all 0.5s;
      }
      @media(max-width: 540px){
        .pcss3t > ul > li {
          padding: 0px;
          padding-top: 40px;
        }
      }

      .abas-interativas .pcss3t > ul > li{
        padding: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
      }


      .pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
      .pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
      .pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
      .pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
      .pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
      .pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
      .pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
      .pcss3t > .tab-content-8:checked ~ ul .tab-content-8,
      .pcss3t > .tab-content-9:checked ~ ul .tab-content-9,
      .pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 1;
        -webkit-transform: scale(1,1);
        -webkit-transform: rotate(0deg);
      }
      .pcss3t-height-auto > ul {
        height: auto !important;
      }
      .pcss3t-height-auto > ul > li {
        position: static;
        display: none;
        height: auto !important;
            width: 100%;
    overflow-x: hidden;
      }
      .pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
      .pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
      .pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
      .pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
      .pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
      .pcss3t-height-auto > .tab-content-6:checked ~ ul .tab-content-6,
      .pcss3t-height-auto > .tab-content-7:checked ~ ul .tab-content-7,
      .pcss3t-height-auto > .tab-content-8:checked ~ ul .tab-content-8,
      .pcss3t-height-auto > .tab-content-9:checked ~ ul .tab-content-9,
      .pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
        display: block;
      }
      .pcss3t .grid-row {
        margin-top: 20px;
      }
      .pcss3t .grid-row:after {
        content: '';
        display: table;
        clear: both;
      }
      .pcss3t .grid-row:first-child {
        margin-top: 0;
      }
      .pcss3t .grid-col {
        display: block;
        float: left;
        margin-left: 2%;
      }
      .pcss3t .grid-col:first-child {
        margin-left: 0;
      }
      .pcss3t .grid-col .inner {
        padding: 10px 0;
        border-radius: 5px;
        background: #f2f2f2;
        text-align: center;
      }
      .pcss3t .grid-col-1 {
        width: 15%;
      }
      .pcss3t .grid-col-2 {
        width: 32%;
      }
      .pcss3t .grid-col-3 {
        width: 49%;
      }
      .pcss3t .grid-col-4 {
        width: 66%;
      }
      .pcss3t .grid-col-5 {
        width: 83%;
      }
      .pcss3t .grid-col-offset-1 {
        margin-left: 19%;
      }
      .pcss3t .grid-col-offset-1:first-child  {
        margin-left: 17%;
      }
      .pcss3t .grid-col-offset-2 {
        margin-left: 36%; 
      }
      .pcss3t .grid-col-offset-2:first-child {
        margin-left: 34%;
      }
      .pcss3t .grid-col-offset-3 {
        margin-left: 53%;
      }
      .pcss3t .grid-col-offset-3:first-child {
        margin-left: 51%;
      }
      .pcss3t .grid-col-offset-4 {
        margin-left: 70%;
      }
      .pcss3t .grid-col-offset-4:first-child {
        margin-left: 68%;
      }
      .pcss3t .grid-col-offset-5:first-child {
        margin-left: 85%;
      }
      .pcss3t .typography {
        color: #666;
      }
      .pcss3t .typography h1,
      .pcss3t .typography h2,
      .pcss3t .typography h3,
      .pcss3t .typography h4,
      .pcss3t .typography h5,
      .pcss3t .typography h6 {
        margin: 40px 0 0 0;
        padding: 0;
        text-align: left;
        color: #333;
      }
      .pcss3t .typography h1 {
        font-size: 40px;
        line-height: 60px;
        text-shadow: 3px 3px rgba(0,0,0,0.1);
      }
      .pcss3t .typography h2 {
        font-size: 32px;
        line-height: 48px;
        text-shadow: 2px 2px rgba(0,0,0,0.1);
      }
      .pcss3t .typography h3 {
        font-size: 26px;
        line-height: 38px;
        text-shadow: 1px 1px rgba(0,0,0,0.1);
      }
      .pcss3t .typography h4 {
        font-size: 20px;
        line-height: 30px;
      }
      .pcss3t .typography h5 {
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;
      }
      .pcss3t .typography h6 {
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .pcss3t .typography p {
        margin: 20px 0 0 0;
        padding: 0;
        line-height: 20px;
        text-align: left;
      }
      .pcss3t .typography ul,
      .pcss3t .typography ol {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0;
      }
      .pcss3t .typography li {
        position: relative;
        margin-top: 5px;
        padding-left: 20px;
      }
      .pcss3t .typography li ul,
      .pcss3t .typography li ol {
        margin-top: 5px;
      }
      .pcss3t .typography ul li:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 4px;
        background: #404040;
      }
      .pcss3t .typography ol {
        counter-reset: list1;
      }
      .pcss3t .typography ol > li:before {
        counter-increment:list1;
        content: counter(list1)'.';
        position: absolute;
        top: 0;
        left: 0;
      }
      .pcss3t .typography a {
        text-decoration: underline;
        color: #1889e6;
      }
      .pcss3t .typography a:hover {
        text-decoration: none;
      }
      .pcss3t .typography .pic {
        padding: 4px;
        border: 1px dotted #ccc;
      }
      .pcss3t .typography .pic img {
        display: block;
      }
      .pcss3t .typography .pic-right {
        float: right;
        margin: 0 0 10px 20px;
      }
      .pcss3t .typography .link {
        text-decoration: underline;
        color: #1889e6;
        cursor: pointer;
      }
      .pcss3t .typography .link:hover {
        text-decoration: none;
      }
      .pcss3t .typography h1:first-child,
      .pcss3t .typography h2:first-child,
      .pcss3t .typography h3:first-child,
      .pcss3t .typography h4:first-child,
      .pcss3t .typography h5:first-child,
      .pcss3t .typography h6:first-child,
      .pcss3t .typography p:first-child {
        margin-top: 0;
      }
      .pcss3t .typography .text-center {
        text-align: center;
      }
      .pcss3t .typography .text-right {
        text-align: right;
      }
      .pcss3t-steps > label {
        cursor: default;
      }
      .pcss3t-effect-scale > ul > li {
        -webkit-transform: scale(0.1,0.1);
      }
      .pcss3t-effect-rotate  > ul > li {
        -webkit-transform: rotate(180deg);
      }
      .pcss3t-effect-slide-top > ul > li {
        top: -40px;
      }
      .pcss3t-effect-slide-right > ul > li {
        left: 80px;
      }
      .pcss3t-effect-slide-bottom > ul > li {
        top: 40px;
      }
      .pcss3t-effect-slide-left > ul > li {
        left: -80px;
      }

      /**/
      /* top right */
      /**/
      .pcss3t-layout-top-right {
        text-align: right;
      }


      /**/
      /* top center */
      /**/
      .pcss3t-layout-top-center {
        text-align: center;
      }


      /**/
      /* top combi */
      /**/
      .pcss3t > .right {
        float: right;
      }


      .pcss3t-icons-top > label {
        text-align: center;
      }
      .pcss3t-icons-top > label i {
        float: none;
        margin: 0 auto -10px;
        padding-top: 17px;
        font-size: 23px;
        line-height: 23px;
        text-align: center;
      }
      .pcss3t-icons-right > label i {
        float: right;
        margin: 0 -2px 0 8px;
      }
      .pcss3t-icons-bottom > label {
        text-align: center;
      }
      .pcss3t-icons-bottom > label i {
        float: none;
        margin: -10px auto 0;
        padding-bottom: 17px;
        font-size: 23px;
        line-height: 23px;
        text-align: center;
      }
      .pcss3t-icons-only > label i {
        float: none;
        margin: 0 auto;
        font-size: 23px;
      }
      .pcss3t label[for="tab1"]{
        margin-left: 0%;
      }
      @media(max-width: 540px){
         .pcss3t label[for="tab1"]{
          margin-left: 0%;
        }
      }

      .abas-interativas  .pcss3t label[for="tab1"]{
        margin-left: 0 !important;
      }



      .pcss3t > label { 
                padding: 0 20px;
                padding-left: 0px;
                margin-right: 26px;
                background: #fff;
                font-size: 13px;
                line-height: 30px;
                width: 200px;
                color: #000;
                text-align: left;
                opacity: 0.22;
                font-weight: bold;
                text-transform: none;
                border-bottom: 2px solid transparent;
      }

      .abas-interativas .pcss3t > label { 
        width: 17%;
      }
      @media(max-width: 540px){
                 .pcss3t > label {  
                    padding: 0px 3px;
                    padding-bottom: 8px;
                    padding-top: 8px;
                    font-size: 12px;
                    line-height: 20px;
                    width: 33%;
                    text-align: center;
                    margin: 0;
                    font-weight: normal;
                  }
      } 
      /*
      .pcss3t > label:hover {
        background: #f2f2f2;
      }
      */
      .pcss3t > input:checked + label {
        background: #fff;
        color: #000;
        opacity: 1;
        border-bottom: 2px solid #72C1EF;
      }
      .pcss3t > ul {
        background: #fff;
        text-align: left;
      }
      .pcss3t-steps > label:hover {
        background: #e5e5e5;  
      }


      .pcss3t > ul,
      .pcss3t > ul > li {
        height: auto;
      }




/*---------------------------------
  BREADCRUMB
-----------------------------------*/
.breadcrumb{
  padding: 0;
  border-radius: 0;
  background: none;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #747474;
  font-size: 13px;
  background: #f8f8f8;
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb span{
  color: #747474;
  text-decoration: none;
  padding-right: 5px;
}

.breadcrumb span{

}

